.home-main {
  background-image: url("../../../Assets/img-mainpage/main-1-background.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bag{
  background:white;
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 20px;
}