.IMG {
  background-image: url("../../../Assets/img-mainpage/main-7.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 400px;
  margin: 100px 0;
}
