.wrapper{
    display:flex;
    position: absolute;
    right: 0;
    max-width: calc((100vw - 1186px)/2 + 1186px);
    margin-top: 150px;
}
.infoBlock{
    display: flex;
    flex-direction: column;
    font-style: normal;
    line-height: normal;
}
.infoBlocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    line-height: normal;
    gap: 30px;
    margin-bottom: 70px;
}
.text-group{
    display: flex;
    flex-direction: column;
}
p{
    color: rgba(38, 38, 38, 0.70);
    font-size: 15px;
    font-weight: 500;
}
h1{
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 77px;
}
h4{
    color: #262626;
    font-size: 20px;
    font-weight: 500;
}
.number{
    color: rgba(189, 112, 72, 0.20);
    font-size: 70px;
    font-weight: 700;
    max-width: 80px;
}
.img{
    margin-left: auto;
}