.request {
  display: flex;
  align-items:center;
  gap: 30px;
  cursor: pointer;
  height: 100px;
}
.request p {
  color: #bd7048;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.request button {
  width: 228px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #bd7048;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pdf {
  display: flex;
  align-items: center;
}
