@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap');
@import './reset.css';
@import './header.css';
@import './home.css';
@import './catalog.css';
@import './test.css';
@import './about.css';
@import './prices.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  color: black;
}
