.navItem {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.navItem a {
  transition: color 0.7s ease;
}
.navItem a:hover {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 17px;
}
