@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 10px;
  color: black;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */


img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  cursor: pointer;
}
